* {
    word-wrap: break-word;
}

.row {
    max-width: inherit;
    margin-left: 0;
    margin-right: 0;
}

#header {
    margin-top: 4rem;
}

#header .header-wrapper {
    display: table;
    margin: 0 auto;
}

#header .branding {
    float: left;
    font-size: 2.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: Utopia, Georgia, serif;
}



#header .nav-container {
    float: left;
    line-height: 5rem;
}

#header .nav-container ul {
    margin-bottom: 0;
}

#header .nav-container li {
    display: inline-block;
    top: auto;
    height: 100%;
    float: left;
    position: relative;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

#header .nav-container li a {
    font-family: "Utopia", "Georgia", serif;
    color: #45555f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: none;
    position: relative;
    height: 100%;
    padding: 0 1rem;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

#header .nav-container li a:hover {
    color: #00a4e4;
    background-color: #dfFFFF;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.main_content {
    margin: auto;
    max-width: 100rem;
}

.border-top {
    margin: 5rem auto;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    padding-top: 5rem;
}

.intro {
    padding: 5rem 0;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "UtopiaDisplay", "Utopia", "Georgia", serif;
}

.intro .me {
    float: left;
    text-align: center;
}

.intro .me img {
    height: 100%;
    width: 100%;
    max-width: 80%;
    border: 1px solid gray;
}

.intro .welcome {
    padding-left: 4rem;
    margin: 2rem 0;
}

#penguin div {
    margin: 0;
    padding: 0;
    float: left;
}

#penguin {
    padding-top: 4rem;
}

#penguin .left {
    text-align: center;
    vertical-align: middle;
}

#penguin img.image {
    border: 0;
    height: 100%;
    width: 100%;
    max-width: 50%;
}

.margin-top {
    margin-top: 2rem !important;
}

#arbeiten .item {
    display: inline-block;
    margin-top: 4rem;
}

h1, h2, h3, h4 {
    font-family: "UtopiaDisplay", "Utopia", "Georgia", serif;
}

h3 {
    font-size: 2rem;
}

#arbeiten h2, h3, h4 {
    margin-left: 1rem;
}

#arbeiten h3 {
    margin-top: 0;
}

#arbeiten h4 {
    text-transform: uppercase;
    color: grey;
    letter-spacing: 0.2rem;
    font-size: small;
}

#arbeiten .abstract {
    margin-left: 15px;
    line-height: 2.5rem;
    font-family: "UtopiaDisplay", "Utopia", "Georgia", serif;
}

#arbeiten .abstract p {
    padding: 5px;
    background-color: #fefede;
    border: 1px solid #efFFFF;
    text-align: justify;
}

#arbeiten .abstract .info {
    padding-left: 1rem;
    color: #101010;
}

#arbeiten .downloads {
    margin-left: -15px;
}

#arbeiten .downloads ul {
    list-style: none;
    line-height: 3rem;
}

#arbeiten .downloads a {
    padding: 1rem;
    font-weight: 700;
}

#arbeiten .downloads a:hover {
    background-color: #dfFFFF;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

#arbeiten .image {
    border: 1px solid #dfffff;
    max-width: 100%;
}

#arbeiten #my_video_1 {
    max-width: 100%;
}

#curi {
    font-family: "UtopiaDisplay", "Utopia", "Georgia", serif;
}

#curi h3 {
    text-decoration: underline;
}

#curi .row span {
    font-size: large;
}

#curi .row div {
    padding-top: 2rem;
}

#curi .row div:first-child {
    text-align: right;
}

#curi .row div:last-child {
    border-left: 1px solid rgba(25, 25, 151, 0.14);;
}

#cur #fhg {
    margin: 0rem 0;
}

#curi #fhg .bild {
    text-align: center;
}

#curi #fhg .bild img {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 90%;
    max-width: 100%;
}

#impressum {
    max-width: 60rem;
    font-family: "UtopiaDisplay", "Utopia", "Georgia", serif;
    letter-spacing: 0.1rem;
    margin-bottom: 5rem;
}

#impressum row * {
    text-align: center;
}

#impressum *[itemprop="image"] {
    display: none;
}

.footer {
    margin: auto;
    text-align: center;
    font-size: x-small;
    color: grey;
}
@media (max-width: 750px) {
    h2,#header .branding {
        text-align: center;
        float: none;
    }
    .nav-container{
        display: none
    }
    #blog {
            text-align: center;
            font-size: 2rem;
    }
}

@media (min-width: 750px) {
    .teaser {
       background: url(img/teaser_4x1.JPG) no-repeat center center;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         height: 500px;
    }

    #blog {
    display:none;
    }
}