* {
    word-wrap: break-word;
    font-family: "UtopiaDisplay", "Utopia", "Georgia", serif;
}

p {
  margin: 0;
}

.row {
    max-width: inherit;
    margin-left: 0;
    margin-right: 0;
}

#header {
    margin: 4rem 0;
}

.header-wrapper {
    display: table;
    margin: 0 auto;
}

.branding {
    float: left;
    font-size: 2.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.nav-container {
    float: left;
    line-height: 5rem;
}

.nav-container ul {
    margin-bottom: 0;
}

.nav-container li {
    display: inline-block;
    top: auto;
    height: 100%;
    float: left;
    position: relative;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

.nav-container li a {
    color: #45555f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: none;
    position: relative;
    height: 100%;
    padding: 0 1rem;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.nav-container li a:hover {
    color: #00a4e4;
    background-color: #dfFFFF;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.main_content {
    margin: auto;
    max-width: 80rem;
}

.border-top {
    margin: 5rem auto;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    padding-top: 5rem;
}

.me img {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid gray;
}

.socialmedia {
  padding-top: 2rem;
}

.socialmedia a{
  margin: 0.5rem;
}

.margin-top {
    margin-top: 2rem !important;
}

#arbeiten .item {
    display: inline-block;
    margin-top: 4rem;
}

h3 {
    font-size: 2rem;
}


#arbeiten h2, h3, h4 {
    margin-left: 1rem;
}

#arbeiten h3 {
    margin-top: 0;
}

#arbeiten h4 {
    text-transform: uppercase;
    color: grey;
    letter-spacing: 0.2rem;
    font-size: small;
}

.abstract {
    margin-left: 15px;
    line-height: 2.5rem;
}

.abstract p {
    background-color: #fefede;
    text-align: justify;
}

.abstract .info {
    border-top: 1px solid #E7D9D9;
}

.downloads{
  line-height: 2.5rem;
}
.downloads a {
    padding: 1rem;
    font-weight: 700;
}

#arbeiten .image {
    border: 1px solid #dfffff;
    max-width: 100%;
}

#my_video_1 {
    max-width: 100%;
}

#curi h3 {
    text-decoration: underline;
}

#curi .title {
    font-size: large;
}

#curi .row div {
    padding-top: 2rem;
}

#curi .row div:first-child {
    text-align: right;
}

#curi .row div:last-child {
    border-left: 1px solid rgba(25, 25, 151, 0.14);
}

.bild {
    text-align: center;
}

.bild img {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 90%;
    max-width: 100%;
}

#impressum {
    max-width: 80rem;
    letter-spacing: 0.1rem;
    margin-bottom: 5rem;
}

#impressum row * {
    text-align: center;
}

.footer {
    margin: auto;
    text-align: center;
    font-size: x-small;
    color: grey;
}

.print{
    display:none;
}

@media (max-width: 480px){
  .me {
    text-align:center;
  }

  .welcome{
    display: none;
  }

  .col-sm-8{
      padding:0;
  }

  .abstract {
    margin:0;
  }

  .abstract p{
    padding: 1rem 3rem ;
  }

  .downloads{
    padding-top: 1rem;
    text-align:center;
  }

  .col-xs-4,
  .col-xs-8{
      width:100%;
  }

}

@media (min-width: 481px){

    .intro > * {
      display:inline-block;
    }

    .me {
      display: inline-flex;
    }

    .me img{
      height: 150px;
    }

    .welcome{
      padding-top: 5rem;
    }

    .socialmedia{
      padding-bottom: 5rem;
    }

     .abstract p{
        padding: 1rem;
      }

      .downloads{
         padding-top: 1rem;
         text-align:center;
       }
}

  @media (min-width: 600px){

      .me {
        display: inline-block;
      }

      .me img{
        height: 317px;
      }
}

@media (max-width: 768px) {
    h2,#header .branding {
        text-align: center;
        float: none;
    }

    .nav-container{
        display: none
    }

    #blog {
            text-align: center;
            font-size: 2rem;
    }

    .intro {
        padding: 0;
    }

    .socialmedia {
        text-align: center;
    }
}

@media (min-width: 769px) {
    .me {
      text-align: right;
    }

    .welcome,
    .socialmedia{
         display:inline-block;
         margin-left: 5rem;
    }

    .teaser {
       background: url(img/teaser_4x1.JPG) no-repeat center center;
       background-size:  100% 100%;
       min-height: 300px;
    }

    #blog {
      display:none;
    }

    .downloads{
       text-align:left;
     }

     .downloads a:after{
         content: "\A";
         white-space:pre;
   }
}

@media (min-width: 1050px){
    .teaser {
       background: url(img/teaser_4.JPG) no-repeat center center;
       background-size:  100% 100%;
       min-height: 500px;
    }
}

@media print{

    .intro{
        margin-top:2rem;
    }
    .branding{
        float: none;
    }
    .socialmedia > * {
        display: block;
        text-align:left;
    }
    .print-link{
        font-size: 2rem;
    }

    .border-top{
        margin: 2rem auto;
        padding-top: 2rem;
    }

    #arbeiten .item{
        margin-top: 3rem;
    }

    .col-sm-8{
        width: 100%
    }

    .print{
        display:block;
    }
    .no-print{
        display:none;
    }
}

#footer{
    margin-bottom:30rem;
}
